*{
    font-family: 'Source Sans Pro', sans-serif;
}
.navegador{
    background-color: rgb(255, 207, 118);
    border-bottom-width: 3px;
    border-bottom: solid;
    border-color: darkblue;
}
.imgCarrusel{
    height: 600px;
}

hr{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 97%;
    color: black;
}
.btnEstilo{
    margin: 20px 20px 20px 20px;
    width: 100px;
}
.conAdivi{
    border: 1px solid orange;
}
.img500{
    border-radius: 10%;
}

.textos{
    text-align: center;
    margin: auto;
}
.itemsDestinos{
    text-align: center;
}
.footer{
    border-top: 1px solid;
}
.footerPa{
    margin-top: 10px;
}

#mostrarAcercaDe{
    display: block;
}
#mostrarSeguinos{
    display: none;
}

.footerCompleto{ /*mantener footer en el fondo*/
    position: relative;
    margin: auto;
    height: 100%;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:0;
}
.footer-top{
background-color: black;
border-width: 1px;
border-style: solid;
border-bottom-color: #feca30;
color: white;
}
.tituloFooter{
    color: white;
}

.footerMedio{
background-color: #363232;
margin: auto;
height: 200px;
width: 100%;
}

.footer-cop{
background-color: rgb(255, 207, 118);
width: 100%;
color: black;
}
.i-navFooter{
size: 60px;
color: #feca30;
margin: 20px;
}
.ulFooter{ 
list-style-type:none; 
padding: 0px;
} 



@media screen and (max-width: 1024px) {
    .imgCarrusel{
        height: 400px;
    }
    .footerMedio{
        height: 200px;
    }
}
@media screen and (max-width: 768px){
	.imgCarrusel{
        height: 270px;
    }
    .footerMedio{
        height: 250px;
    }
}
@media screen and (max-width: 450px){
	.imgCarrusel{
        height: 250px;
    }
    .footerMedio{
        height: 320px;
    }
}
